// .pro-card-wrapper {
//     /* 开启3D空间 */
//     perspective: 100px;
//   }

  .pro-card {
    /* 翻转特效时间 */
    transition: transform 0.8s;
    /* 保留3D空间 */
    transform-style: preserve-3d;
  }

  .word,
  .pic {
    /* 隐藏3D的背面 */
    backface-visibility: false;
    /* border: 1px solid #f3f3f2; */
    color: white;
  }

  /* 翻转卡片 */
  .pic {
    transform: rotateY(0deg);
  }

  .pro-card-wrapper:hover .pro-card {
    transform: rotateY(180deg);
  }